html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;       
    padding: 0;      
    overflow: hidden; 
    background-color: #000000;
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-position: center;
}


.companylogo {
    z-index: 99999;  
    width: 12vw;
    height: 12vw;
    position: absolute;    
    left: 3vw;
    top: 1.1vh;
    background-image: url("assets/logo.jpg");
    background-size: contain;      
    background-position: center;   
    background-repeat: no-repeat;  
    border-radius: 1vw;
    border-color: #ff00ff;
}

.block-awfer-bg {
    width: 94vw;
    height: 6vh;
    position: absolute;
    left: 3vw;
    top: 1.5vh;
    background: linear-gradient(
        135deg,
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.01)
    );
    backdrop-filter: blur(1.5vw);
    border-radius: 0.5vw;
    border-radius: 0.2;

}



.block-awfer { 
    font-family: "Lexend";
    font-weight: 300;
    font-size:10vw;
    color: #ffffff;
    width: 95vw;
    height: 12vw;
    position: absolute;
    left: 2vw;
    top: 1vh;
    padding: 0.2vw;

    background: conic-gradient(
        from var(--gradient-angle),
        rgba(255, 255, 255, 0.1) 0deg,
        rgba(255, 255, 255, 0.1) 60deg,
        rgba(255, 255, 255, 0.9) 120deg,
        rgba(255, 255, 255, 0.1) 180deg,
        rgba(255, 255, 255, 0.1) 240deg,
        rgba(255, 255, 255, 0.9) 300deg,
        rgba(255, 255, 255, 0.1) 360deg
    );
    border-radius: 1px;
    mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
    animation: loading 4s linear infinite;

}


.slogan {
    width: 83vw;
    height: 10vw;

    color: #ffffff;
    font-size: 10.5px;
    font-family: "Lexend";
    font-weight: 300;
    position: absolute;
    left: 14vw;
    top: 2.2vh;
    justify-content: center;     
    align-items: center;       
    text-align: center;
    
    text-shadow:
        0 0 0.1vw rgba(255,255,255,0.9),
        0 0 0.2vw rgba(255,255,255,0.8),
        0 0 0.4vw rgba(255,255,255,0.6),
        0 0 1vw rgba(255,255,255,0.3);

}

.awfer {
    width: 50vw;
    height: 15vh;

    color: #ffffff;
    font-size: 64px;
    font-family: "Lexend";
    font-weight: 300;
    position: absolute;
    left: 30vw;
    top: 8vh;
    justify-content: center;     
    align-items: center;         
    text-align: center;
    
    text-shadow:
        0 0 1vw rgba(255,255,255,0.9),
        0 0 2vw rgba(255,255,255,0.8),
        0 0 4vw rgba(255,255,255,0.6),
        0 0 1vw rgba(255,255,255,0.3);

}

.block-1-bg {
    width: 45vw;
    height: 18.5vh;
    position: absolute;
    left: 3vw;
    top: 20.5vh;
    background: linear-gradient(
        135deg,
        rgba(255,255,255,0.03),
        rgba(255,255,255,0.03),
        rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(1.5vw);
    border-radius: 0.5vw;
    border-radius: 32px;

}


.block-1 { 
    width: 46vw;
    height: 19vh;
    position: absolute;    
    left: 2vw;
    top: 20vh;
    padding: 0.5vw;
    background: conic-gradient(
        from var(--gradient-angle),
        rgba(255, 255, 0, 0.1) 0deg,
        rgba(255, 255, 0, 0.1) 60deg,
        rgba(255, 255, 0, 0.9) 120deg,
        rgba(255, 255, 255, 0.1) 180deg,
        rgba(255, 255, 255, 0.1) 240deg,
        rgba(255, 255, 255, 0.9) 300deg,
        rgba(255, 255, 255, 0.1) 360deg
    );
    border-radius: 32px;
    mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
    animation: loading 4s linear infinite;
    pointer-events: none;
}

.block-1-text {
    width: 46vw;
    height: 19vh;
    position: absolute;    
    left: 5vw;
    top: 23vh;

    font-size: 10vw;
    font-family: "Lexend";
    font-weight: 100;

    /* Gradient text */
    background: linear-gradient(90deg, #ff00ff, #00ffff, #ffff00, #ff00ff);
    background-size: 500% 500%; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    color: transparent;


    text-shadow:
        0 0 0.4vw rgba(255,255,255,0.9),
        0 0 1vw rgba(255,255,255,0.8),
        0 0 2vw rgba(255,255,255,0.6),
        0 0 4vw rgba(255,255,255,0.3);

    animation: gradientShift 4s linear infinite;
    pointer-events: none;
}



.block-2-bg {
    width: 45vw;
    height: 39.5vh;
    position: absolute;
    left: 52vw;
    top: 20.5vh;
    background: linear-gradient(
        135deg,
        rgba(255,255,255,0.03),
        rgba(255,255,255,0.03),
        rgba(255,255,255,0.1)
    );
    border-radius: 32px;
}



.block-2 { 
    width: 46vw;
    height: 40vh;
    position: absolute;
    left: 51vw;
    top: 20vh;

    padding: 0.5vw;
    background: conic-gradient(
        from var(--gradient-angle),
        rgba(255, 0, 0, 0.1) 0deg,
        rgba(255, 0, 0, 0.1) 60deg,
        rgba(255, 0, 0, 0.9) 120deg,
        rgba(255, 255, 255, 0.1) 180deg,
        rgba(255, 255, 255, 0.1) 240deg,
        rgba(255, 255, 255, 0.9) 300deg,
        rgba(255, 255, 255, 0.1) 360deg
    );
    border-radius: 32px;
    mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
    animation: loading 4s linear infinite;
    pointer-events: none;

}


.block-2-text {
    width: 46vw;
    height: 40vh;
    position: absolute;
    left: 54vw;
    top: 28vh;
    
    font-size: 10vw;
    font-family: "Lexend";
    font-weight: 100;


    background: linear-gradient(90deg, #00ffff, #0077ff, #00ff77, #00ffff);
    background-size: 500% 500%; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    color: transparent;

    text-shadow:
        0 0 0.4vw rgba(255,255,255,0.9),
        0 0 1vw rgba(255,255,255,0.8),
        0 0 2vw rgba(255,255,255,0.6),
        0 0 4vw rgba(255,255,255,0.3);

    animation: gradientShift 4s linear infinite;
    pointer-events: none;
}

.block-3-bg {
    width: 45vw;
    height: 18.5vh;
    position: absolute;
    left: 3vw;
    top: 41.5vh;
    background: linear-gradient(
        135deg,
        rgba(255,255,255,0.03),
        rgba(255,255,255,0.03),
        rgba(255,255,255,0.1)
    );
    border-radius: 32px;
}


.block-3 { 
    width: 46vw;
    height: 19vh;
    position: absolute;
    left: 2vw;
    top: 41vh;
    padding: 0.5vw;
    background: conic-gradient(
        from var(--gradient-angle),
        rgba(0, 255, 0, 0.1) 0deg,
        rgba(0, 255, 0, 0.1) 60deg,
        rgba(0, 255, 0, 0.9) 120deg,
        rgba(255, 255, 255, 0.1) 180deg,
        rgba(255, 255, 255, 0.1) 240deg,
        rgba(255, 255, 255, 0.9) 300deg,
        rgba(255, 255, 255, 0.1) 360deg
    );
    border-radius: 32px;
    mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
    animation: loading 4s linear infinite;
    pointer-events: none;
}

.block-3-text {
    width: 46vw;
    height: 19vh;
    position: absolute;
    left: 5vw;
    top: 44vh;
    
    font-size: 10vw;
    font-family: "Lexend";
    font-weight: 100;


    background: linear-gradient(90deg, #ff0000, #ff4500, #ff6347, #ff0000);
    background-size: 500% 500%; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    color: transparent;


    text-shadow:
        0 0 0.4vw rgba(255,255,255,0.9),
        0 0 1vw rgba(255,255,255,0.8),
        0 0 2vw rgba(255,255,255,0.6),
        0 0 4vw rgba(255,255,255,0.3);

    animation: gradientShift 4s linear infinite;
    pointer-events: none;
}

.block-4-bg {
    width: 93vw;
    height: 17.5vh;
    position: absolute;
    left: 3vw;
    top: 62.5vh;
    background: linear-gradient(
        135deg,
        rgba(255,255,255,0.03),
        rgba(255,255,255,0.03),
        rgba(255,255,255,0.1)
    );
    border-radius: 32px;
}

.block-4 { 
    width: 94vw;
    height: 18vh;
    position: absolute;
    left: 2vw;
    top: 62vh;
    padding: 0.5vw;
    background: conic-gradient(
        from var(--gradient-angle),
        rgba(0, 0, 255, 0.1) 0deg,
        rgba(0, 0, 255, 0.1) 60deg,
        rgba(0, 0, 255, 0.9) 120deg,
        rgba(255, 255, 255, 0.1) 180deg,
        rgba(255, 255, 255, 0.1) 240deg,
        rgba(255, 255, 255, 0.9) 300deg,
        rgba(255, 255, 255, 0.1) 360deg
    );
    border-radius: 32px;
    mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
    animation: loading 4s linear infinite;
    pointer-events: none;
}

.block-4-text {
    width: 94vw;
    height: 20vh;
    position: absolute;
    left: 6vw;
    top: 68vh;
    color: #330000;
    font-size: 10vw;
    font-family: "Lexend";
    font-weight: 100;
    position: absolute;

    background: linear-gradient(90deg, #ff00ff, #00ffff, #ffff00, #ff00ff);
    background-size: 500% 500%; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    color: transparent;

    text-shadow:
        0 0 0.4vw rgba(255,255,255,0.9),
        0 0 1vw rgba(255,255,255,0.8),
        0 0 2vw rgba(255,255,255,0.6),
        0 0 4vw rgba(255,255,255,0.3);
    animation: gradientShift 4s linear infinite;
    pointer-events: none;

}


.companyinfo-text {
    width: 94vw;
    height: 10vh;
    color: #ffffff;
    font-size: 11px;
    font-family: "Lexend";
    font-weight: 100;
    position: absolute;
    left: 4vw;
    top: 82vh;
    justify-content: center;    
    align-items: center;        
    text-align: center;
    white-space: pre-line;
    text-shadow:
        0 0 0.1vw rgba(255,255,255,0.9),
        0 0 0.2vw rgba(255,255,255,0.8),
        0 0 0.4vw rgba(255,255,255,0.6),
        0 0 1vw rgba(255,255,255,0.3);
}

.companyinfo-text p {
    margin: 0.3vh 0;          
    line-height: 0.2;
}

.mobile-icon {
    z-index: 9999; 
    width: 8vw;
    height: 8vw;
    position: absolute;    
    left: 3vw;
    top:  83vh;
    background-image: url("assets/icons/phone.svg");
    background-size: contain;     
    background-position: center;   
    background-repeat: no-repeat;  
}


.email-icon {
    z-index: 9999;  
    width: 8vw;
    height: 8vh;
    position: absolute;    
    left: 3vw;
    top: 86vh;
    background-image: url("assets/icons/email.svg");
    background-size: contain;     
    background-position: center;  
    background-repeat: no-repeat; 
}


.linkedin-icon {
    z-index: 9999;  
    width: 8vw;
    height: 8vw;
    position: absolute;    
    left: 90vw;
    top: 83vh;
    background-image: url("assets/icons/linkedin.svg");
    background-size: contain;     
    background-position: center;   
    background-repeat: no-repeat;  
}

.whatsapp-icon {
    z-index: 9999; 
    width: 7vw;
    height: 7vw;
    position: absolute;    
    left: 90vw;
    top: 88vh;
    background-image: url("assets/icons/whatsapp.svg");
    background-size: contain;      
    background-position: center;   
    background-repeat: no-repeat;  
}





@property --gradient-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes loading {
    0% {
        --gradient-angle: 0deg;
    }
    100% {
        --gradient-angle: 360deg;
    }
}
@keyframes gradientShift {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
