html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;       /* remove default margin */
    padding: 0;      /* remove default padding */
    overflow: hidden; /* prevent scrolling */
    background-color: #000000;
    background-image: url("assets/background.svg");
    background-size: cover;
    background-position: center;
}


.companylogo {
    z-index: 99999;  /* on top */
    width: 10vw;
    height: 10vw;
    position: absolute;    
    left: 4vw;
    top: 2vh;
    background-image: url("assets/logo.jpg");
    background-size: contain;      /* fit inside div */
    background-position: center;   /* center the image */
    background-repeat: no-repeat;  /* <-- prevents repetition */
    border-radius: 3vw;
}

.block-awfer { /* style for the :after overlay in prod */
    font-family: "Lexend";
    font-weight: 300;
    font-size:10vw;
    color: #ffffff;
    width: 95vw;
    height: 12vw;
    position: absolute;
    left: 2vw;
    top: 1vh;
    padding: 0.2vw;

    background: conic-gradient(
        from var(--gradient-angle),
        rgba(255, 255, 255, 0.1) 0deg,
        rgba(255, 255, 255, 0.1) 60deg,
        rgba(255, 255, 255, 0.9) 120deg,
        rgba(255, 255, 255, 0.1) 180deg,
        rgba(255, 255, 255, 0.1) 240deg,
        rgba(255, 255, 255, 0.9) 300deg,
        rgba(255, 255, 255, 0.1) 360deg
    );
    border-radius: 1px;
    mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
    animation: loading 4s linear infinite;

}


.slogan {
    width: 65vw;
    height: 10vw;

    color: #ffffff;
    font-size: 8px;
    font-family: "Lexend";
    font-weight: 300;
    position: absolute;
    left: 15vw;
    top: 3vh;
    justify-content: center;     /* center horizontally */
    align-items: center;         /* center vertically */
    text-align: center;
    
    text-shadow:
        0 0 0.1vw rgba(255,255,255,0.9),
        0 0 0.2vw rgba(255,255,255,0.8),
        0 0 0.4vw rgba(255,255,255,0.6),
        0 0 1vw rgba(255,255,255,0.3);

}

.awfer {
    width: 50vw;
    height: 15vh;

    color: #ffffff;
    font-size: 64px;
    font-family: "Lexend";
    font-weight: 300;
    position: absolute;
    left: 30vw;
    top: 8vh;
    justify-content: center;     /* center horizontally */
    align-items: center;         /* center vertically */
    text-align: center;
    
    text-shadow:
        0 0 1vw rgba(255,255,255,0.9),
        0 0 2vw rgba(255,255,255,0.8),
        0 0 4vw rgba(255,255,255,0.6),
        0 0 1vw rgba(255,255,255,0.3);

}

.block-1-bg {
    width: 45vw;
    height: 18.5vh;
    position: absolute;
    left: 3vw;
    top: 20.5vh;
    background: linear-gradient(
        135deg,
        rgba(0,180,255,0.25),
        rgba(0,90,180,0.18),
        rgba(0,40,120,0.22)
    );
    backdrop-filter: blur(1.5vw);
    border-radius: 0.5vw;
    border-radius: 32px;

}


.block-1 { /* style for the :after overlay in prod */
    width: 46vw;
    height: 19vh;
    position: absolute;    
    left: 2vw;
    top: 20vh;
    padding: 0.5vw;
    background: conic-gradient(
        from var(--gradient-angle),
        rgba(255, 255, 0, 0.1) 0deg,
        rgba(255, 255, 0, 0.1) 60deg,
        rgba(255, 255, 0, 0.9) 120deg,
        rgba(255, 255, 255, 0.1) 180deg,
        rgba(255, 255, 255, 0.1) 240deg,
        rgba(255, 255, 255, 0.9) 300deg,
        rgba(255, 255, 255, 0.1) 360deg
    );
    border-radius: 32px;
    mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
    animation: loading 4s linear infinite;
}

.block-1-text {
    width: 46vw;
    height: 19vh;
    position: absolute;    
    left: 5vw;
    top: 23vh;

    font-size: 10vw;
    font-family: "Lexend";
    font-weight: 100;

    /* Gradient text */
    background: linear-gradient(90deg, #ff00ff, #00ffff, #ffff00, #ff00ff);
    background-size: 500% 500%; /* makes shifting smoother */
    -webkit-background-clip: text; /* Chrome, Safari */
    -webkit-text-fill-color: transparent; /* show gradient */
    background-clip: text; /* Firefox / modern browsers */
    color: transparent;

    /* Glow effect */
    text-shadow:
        0 0 0.4vw rgba(255,255,255,0.9),
        0 0 1vw rgba(255,255,255,0.8),
        0 0 2vw rgba(255,255,255,0.6),
        0 0 4vw rgba(255,255,255,0.3);

    animation: gradientShift 4s linear infinite;
}



.block-2-bg {
    width: 45vw;
    height: 39.5vh;
    position: absolute;
    left: 52vw;
    top: 20.5vh;

    background: linear-gradient(
        135deg,
        rgba(188,118,0,0.35),
        rgba(255,0,150,0.25),
        rgba(0,200,255,0.25)
    );

    border-radius: 32px;
}



.block-2 { /* style for the :after overlay in prod */
    width: 46vw;
    height: 40vh;
    position: absolute;
    left: 51vw;
    top: 20vh;

    padding: 0.5vw;
    background: conic-gradient(
        from var(--gradient-angle),
        rgba(255, 0, 0, 0.1) 0deg,
        rgba(255, 0, 0, 0.1) 60deg,
        rgba(255, 0, 0, 0.9) 120deg,
        rgba(255, 255, 255, 0.1) 180deg,
        rgba(255, 255, 255, 0.1) 240deg,
        rgba(255, 255, 255, 0.9) 300deg,
        rgba(255, 255, 255, 0.1) 360deg
    );
    border-radius: 32px;
    mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
    animation: loading 4s linear infinite;
}


.block-2-text {
    width: 46vw;
    height: 40vh;
    position: absolute;
    left: 54vw;
    top: 28vh;
    
    font-size: 10vw;
    font-family: "Lexend";
    font-weight: 100;

    /* Gradient text */
    background: linear-gradient(90deg, #00ffff, #0077ff, #00ff77, #00ffff);
    background-size: 500% 500%; /* makes shifting smoother */
    -webkit-background-clip: text; /* Chrome, Safari */
    -webkit-text-fill-color: transparent; /* show gradient */
    background-clip: text; /* Firefox / modern browsers */
    color: transparent;

    /* Glow effect */
    text-shadow:
        0 0 0.4vw rgba(255,255,255,0.9),
        0 0 1vw rgba(255,255,255,0.8),
        0 0 2vw rgba(255,255,255,0.6),
        0 0 4vw rgba(255,255,255,0.3);

    animation: gradientShift 4s linear infinite;
}

.block-3-bg {
    width: 45vw;
    height: 18.5vh;
    position: absolute;
    left: 3vw;
    top: 41.5vh;

    background: linear-gradient(
        135deg,
        rgba(0,255,150,0.22),
        rgba(0,180,120,0.18),
        rgba(0,120,90,0.22)
    );

    border-radius: 32px;
}


.block-3 { /* style for the :after overlay in prod */
    width: 46vw;
    height: 19vh;
    position: absolute;
    left: 2vw;
    top: 41vh;
    padding: 0.5vw;
    background: conic-gradient(
        from var(--gradient-angle),
        rgba(0, 255, 0, 0.1) 0deg,
        rgba(0, 255, 0, 0.1) 60deg,
        rgba(0, 255, 0, 0.9) 120deg,
        rgba(255, 255, 255, 0.1) 180deg,
        rgba(255, 255, 255, 0.1) 240deg,
        rgba(255, 255, 255, 0.9) 300deg,
        rgba(255, 255, 255, 0.1) 360deg
    );
    border-radius: 32px;
    mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
    animation: loading 4s linear infinite;
}

.block-3-text {
    width: 46vw;
    height: 19vh;
    position: absolute;
    left: 5vw;
    top: 44vh;
    
    font-size: 10vw;
    font-family: "Lexend";
    font-weight: 100;

    /* Gradient text */
    background: linear-gradient(90deg, #ff0000, #ff4500, #ff6347, #ff0000);
    background-size: 500% 500%; /* makes shifting smoother */
    -webkit-background-clip: text; /* Chrome, Safari */
    -webkit-text-fill-color: transparent; /* show gradient */
    background-clip: text; /* Firefox / modern browsers */
    color: transparent;

    /* Glow effect */
    text-shadow:
        0 0 0.4vw rgba(255,255,255,0.9),
        0 0 1vw rgba(255,255,255,0.8),
        0 0 2vw rgba(255,255,255,0.6),
        0 0 4vw rgba(255,255,255,0.3);

    animation: gradientShift 4s linear infinite;
}

.block-4-bg {
    width: 93vw;
    height: 17.5vh;
    position: absolute;
    left: 3vw;
    top: 62.5vh;

    background: linear-gradient(
        120deg,
        rgba(255,0,150,1),
        rgba(0,255,255,0.2),
        rgba(255,255,0,0.35)
    );
    border-radius: 32px;
}


.block-4 { /* style for the :after overlay in prod */
    width: 94vw;
    height: 18vh;
    position: absolute;
    left: 2vw;
    top: 62vh;
    padding: 0.5vw;
    background: conic-gradient(
        from var(--gradient-angle),
        rgba(0, 0, 255, 0.1) 0deg,
        rgba(0, 0, 255, 0.1) 60deg,
        rgba(0, 0, 255, 0.9) 120deg,
        rgba(255, 255, 255, 0.1) 180deg,
        rgba(255, 255, 255, 0.1) 240deg,
        rgba(255, 255, 255, 0.9) 300deg,
        rgba(255, 255, 255, 0.1) 360deg
    );
    border-radius: 32px;
    mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
    animation: loading 4s linear infinite;
}

.block-4-text {
    width: 94vw;
    height: 20vh;
    position: absolute;
    left: 6vw;
    top: 68vh;
    


    color: #330000;
    font-size: 10vw;
    font-family: "Lexend";
    font-weight: 100;
    position: absolute;

    background: linear-gradient(90deg, #ff00ff, #00ffff, #ffff00, #ff00ff);
    background-size: 500% 500%; /* makes shifting smoother */
    -webkit-background-clip: text; /* Chrome, Safari */
    -webkit-text-fill-color: transparent; /* show gradient */
    background-clip: text; /* Firefox / modern browsers */
    color: transparent;

    /* Glow effect */
    text-shadow:
        0 0 0.4vw rgba(255,255,255,0.9),
        0 0 1vw rgba(255,255,255,0.8),
        0 0 2vw rgba(255,255,255,0.6),
        0 0 4vw rgba(255,255,255,0.3);

    animation: gradientShift 4s linear infinite;

}

.block-5 { /* style for the :after overlay in prod */
    width: 94vw;
    height: 5vh;
    position: absolute;
    left: 2vw;
    top: 83vh;
    padding: 0.2vw;
    background: conic-gradient(
        from var(--gradient-angle),
        rgba(255, 255, 255, 0.1) 0deg,
        rgba(255, 255, 255, 0.1) 60deg,
        rgba(255, 255, 255, 0.9) 120deg,
        rgba(255, 255, 255, 0.1) 180deg,
        rgba(255, 255, 255, 0.1) 240deg,
        rgba(255, 255, 255, 0.9) 300deg,
        rgba(255, 255, 255, 0.1) 360deg
    );
    border-radius: 1vw;
    mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
    animation: loading 4s linear infinite;
}

.mobile-icon {
    z-index: 9999;  /* on top */
    width: 7vw;
    height: 7vh;
    position: absolute;    
    left: 3vw;
    top: 82vh;
    background-image: url("assets/icons/phone.svg");
    background-size: contain;      /* fit inside div */
    background-position: center;   /* center the image */
    background-repeat: no-repeat;  /* <-- prevents repetition */
}



.mobile-text {
    width: 20vw;
    height: 5vh;
    color: #ffffff;
    font-size: 2.5vw;
    font-family: "Lexend";
    font-weight: 300;
    position: absolute;
    left: 11vw;
    top: 84vh;
    justify-content: center;     /* center horizontally */
    align-items: center;         /* center vertically */
    text-align: center;
    
    text-shadow:
        0 0 0.1vw rgba(255,255,255,0.9),
        0 0 0.2vw rgba(255,255,255,0.8),
        0 0 0.4vw rgba(255,255,255,0.6),
        0 0 1vw rgba(255,255,255,0.3);
}

.email-icon {
    z-index: 9999;  /* on top */
    width: 7vw;
    height: 7vh;
    position: absolute;    
    left: 32vw;
    top: 82vh;
    background-image: url("assets/icons/email.svg");
    background-size: contain;      /* fit inside div */
    background-position: center;   /* center the image */
    background-repeat: no-repeat;  /* <-- prevents repetition */
}

.email-text {
    width: 20vw;
    height: 5vh;
    color: #ffffff;
    font-size: 2.5vw;
    font-family: "Lexend";
    font-weight: 300;
    position: absolute;
    left: 40vw;
    top: 85vh;
    justify-content: center;     /* center horizontally */
    align-items: center;         /* center vertically */
    text-align: center;
    
    text-shadow:
        0 0 0.1vw rgba(255,255,255,0.9),
        0 0 0.2vw rgba(255,255,255,0.8),
        0 0 0.4vw rgba(255,255,255,0.6),
        0 0 1vw rgba(255,255,255,0.3);
}


.linkedin-icon {
    z-index: 9999;  /* on top */
    width: 7vw;
    height: 7vh;
    position: absolute;    
    left: 62vw;
    top: 82vh;
    background-image: url("assets/icons/linkedin.svg");
    background-size: contain;      /* fit inside div */
    background-position: center;   /* center the image */
    background-repeat: no-repeat;  /* <-- prevents repetition */
}

.linkedin-text {
    width: 20vw;
    height: 5vh;
    color: #ffffff;
    font-size: 2.5vw;
    font-family: "Lexend";
    font-weight: 300;
    position: absolute;
    left: 70vw;
    top: 84vh;
    justify-content: center;     /* center horizontally */
    align-items: center;         /* center vertically */
    text-align: center;
    
    text-shadow:
        0 0 0.1vw rgba(255,255,255,0.9),
        0 0 0.2vw rgba(255,255,255,0.8),
        0 0 0.4vw rgba(255,255,255,0.6),
        0 0 1vw rgba(255,255,255,0.3);
}

.companyinfo-text {
    width: 94vw;
    height: 5vh;
    color: #ffffff;
    font-size: 8px;
    font-family: "Lexend";
    font-weight: 300;
    position: absolute;
    left: 4vw;
    top: 87vh;
    justify-content: center;     /* center horizontally */
    align-items: center;         /* center vertically */
    text-align: center;
    white-space: pre-line;
    text-shadow:
        0 0 0.1vw rgba(255,255,255,0.9),
        0 0 0.2vw rgba(255,255,255,0.8),
        0 0 0.4vw rgba(255,255,255,0.6),
        0 0 1vw rgba(255,255,255,0.3);
}

@property --gradient-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes loading {
    0% {
        --gradient-angle: 0deg;
    }
    100% {
        --gradient-angle: 360deg;
    }
}
@keyframes gradientShift {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
