html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;       /* remove default margin */
    padding: 0;      /* remove default padding */
    overflow: hidden; /* prevent scrolling */
    background-color: #000000;
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-position: center;
}

.companylogo {
    z-index: 99999;  /* on top */
    width: 12vw;
    height: 12vw;
    position: absolute;    
    left: 3vw;
    top: 1.1vh;
    background-image: url("assets/logo.jpg");
    background-size: contain;      /* fit inside div */
    background-position: center;   /* center the image */
    background-repeat: no-repeat;  /* <-- prevents repetition */
    border-radius: 1vw;
    border-color: #ff00ff;
}

.block-awfer-bg {
    width: 94vw;
    height: 6vh;
    position: absolute;
    left: 3vw;
    top: 1.5vh;
    background: linear-gradient(
        135deg,
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.01)
    );
    backdrop-filter: blur(1.5vw);
    border-radius: 0.5vw;
    border-radius: 0.2;

}


.block-awfer { /* style for the :after overlay in prod */
    font-family: "Lexend";
    font-weight: 300;
    font-size:10vw;
    color: #ffffff;
    width: 95vw;
    height: 12vw;
    position: absolute;
    left: 2vw;
    top: 1vh;
    padding: 0.2vw;
    background: conic-gradient(
        from var(--gradient-angle),
        rgba(255, 255, 255, 0.1) 0deg,
        rgba(255, 255, 255, 0.1) 60deg,
        rgba(255, 255, 255, 0.9) 120deg,
        rgba(255, 255, 255, 0.1) 180deg,
        rgba(255, 255, 255, 0.1) 240deg,
        rgba(255, 255, 255, 0.9) 300deg,
        rgba(255, 255, 255, 0.1) 360deg
    );
    border-radius: 1px;
    mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
    animation: loading 4s linear infinite;

}

.slogan {
    width: 65vw;
    height: 10vw;
    color: #ffffff;
    font-size: 8px;
    font-family: "Lexend";
    font-weight: 300;
    position: absolute;
    left: 15vw;
    top: 3vh;
    justify-content: center;     /* center horizontally */
    align-items: center;         /* center vertically */
    text-align: center;
    text-shadow:
        0 0 0.1vw rgba(255,255,255,0.9),
        0 0 0.2vw rgba(255,255,255,0.8),
        0 0 0.4vw rgba(255,255,255,0.6),
        0 0 1vw rgba(255,255,255,0.3);
}

.home {
    z-index: 99999;  /* on top */
    width: 10vw;
    height: 10vw;
    position: absolute;    
    left: 87vw;
    top: 1.5vh;
    background-image: url("assets/icons/home.png");
    background-size: contain;      /* fit inside div */
    background-position: center;   /* center the image */
    background-repeat: no-repeat;  /* <-- prevents repetition */
    border-radius: 3vw;
    display: block;        /* makes it behave like a div */
    cursor: pointer;      /* shows it's clickable */
    -webkit-tap-highlight-color: transparent;
}

.awfer {
    width: 50vw;
    height: 15vh;
    color: #ffffff;
    font-size: 64px;
    font-family: "Lexend";
    font-weight: 300;
    position: absolute;
    left: 30vw;
    top: 8vh;
    justify-content: center;     /* center horizontally */
    align-items: center;         /* center vertically */
    text-align: center;
    text-shadow:
        0 0 1vw rgba(255,255,255,0.9),
        0 0 2vw rgba(255,255,255,0.8),
        0 0 4vw rgba(255,255,255,0.6),
        0 0 1vw rgba(255,255,255,0.3);
}


.block-1-bg {
    width: 95vw;
    height: 59vh;
    position: absolute;
    left: 3vw;
    top: 20.5vh;
    background: linear-gradient(
        135deg,
        rgba(255,255,255,0),
        rgba(255,255,255,0),
        rgba(255,255,255,0)
    );
    backdrop-filter: blur(0.1vw);
    border-radius: 0.1vw;
}

.block-1 { /* style for the :after overlay in prod */
    width: 96vw;
    height: 60vh;
    position: absolute;    
    left: 2vw;
    top: 20vh;
    padding: 0.1vw;
    border-radius: 32px;
    mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
    animation: loading 4s linear infinite;
}

.block-1-text {
    width: 90vw;
    height: 80vh;
    position: absolute;    
    left: 5vw;
    top: 20vh;
    font-size: 10vw;
    font-family: "Lexend";
    font-weight: 100;
    background: linear-gradient(90deg, #ff00ff, #00ffff, #ffff00, #ff00ff);
    background-size: 500% 500%; /* makes shifting smoother */
    -webkit-background-clip: text; /* Chrome, Safari */
    -webkit-text-fill-color: transparent; /* show gradient */
    background-clip: text; /* Firefox / modern browsers */
    color: transparent;

    text-shadow:
        0 0 0.4vw rgba(255,255,255,0.9),
        0 0 1vw rgba(255,255,255,0.8),
        0 0 2vw rgba(255,255,255,0.6),
        0 0 4vw rgba(255,255,255,0.3);
    animation: gradientShift 4s linear infinite;
}


.scroll-box {
    width: 92vw;
    height: 50vh;
    position: absolute;
    left: 5vw;
    top: 28vh;

    overflow-y: auto;
    overflow-x: hidden;

    background: rgba(20,0,0,0);

    /* iOS elastic / momentum scroll */
    -webkit-overflow-scrolling: touch;

    /* Smooth mouse / trackpad scrolling */
    scroll-behavior: smooth;

    /* Prevent scroll chaining to body */
    overscroll-behavior: contain;

    /* GPU acceleration */
    will-change: scroll-position;
    transform: translateZ(0);

    contain: content;
}

.scroll-text {
    padding: 2vw;
    color: white;
    font-family: Lexend;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 200;
    text-shadow:
        0 0 0.1vw rgba(255,255,255,0.9),
        0 0 0.2vw rgba(255,255,255,0.8),
        0 0 0.4vw rgba(255,255,255,0.6),
        0 0 1vw rgba(255,255,255,0.3);

}
.scroll-image {
    width: 90%;
    height: 350px;                 /* how tall the image section is */
    margin-top: -10vh;
    margin-left: 5%;
    background-image: url("assets/images/order.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 4vw;

}



.companyinfo-text {
    width: 94vw;
    height: 10vh;
    color: #ffffff;
    font-size: 11px;
    font-family: "Lexend";
    font-weight: 100;
    position: absolute;
    left: 4vw;
    top: 82vh;
    justify-content: center;     /* center horizontally */
    align-items: center;         /* center vertically */
    text-align: center;
    white-space: pre-line;
    text-shadow:
        0 0 0.1vw rgba(255,255,255,0.9),
        0 0 0.2vw rgba(255,255,255,0.8),
        0 0 0.4vw rgba(255,255,255,0.6),
        0 0 1vw rgba(255,255,255,0.3);
}

.companyinfo-text p {
    margin: 0.3vh 0;           /* top/bottom spacing */
    line-height: 0.2;
}

.mobile-icon {
    z-index: 9999;  /* on top */
    width: 8vw;
    height: 8vw;
    position: absolute;    
    left: 3vw;
    top:  83vh;
    background-image: url("assets/icons/phone.svg");
    background-size: contain;      /* fit inside div */
    background-position: center;   /* center the image */
    background-repeat: no-repeat;  /* <-- prevents repetition */
}


.email-icon {
    z-index: 9999;  /* on top */
    width: 8vw;
    height: 8vh;
    position: absolute;    
    left: 3vw;
    top: 86vh;
    background-image: url("assets/icons/email.svg");
    background-size: contain;      /* fit inside div */
    background-position: center;   /* center the image */
    background-repeat: no-repeat;  /* <-- prevents repetition */
}


.linkedin-icon {
    z-index: 9999;  /* on top */
    width: 8vw;
    height: 8vw;
    position: absolute;    
    left: 90vw;
    top: 83vh;
    background-image: url("assets/icons/linkedin.svg");
    background-size: contain;      /* fit inside div */
    background-position: center;   /* center the image */
    background-repeat: no-repeat;  /* <-- prevents repetition */
}

.whatsapp-icon {
    z-index: 9999;  /* on top */
    width: 7vw;
    height: 7vw;
    position: absolute;    
    left: 90vw;
    top: 88vh;
    background-image: url("assets/icons/whatsapp.svg");
    background-size: contain;      /* fit inside div */
    background-position: center;   /* center the image */
    background-repeat: no-repeat;  /* <-- prevents repetition */
}

@property --gradient-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes loading {
    0% {
        --gradient-angle: 0deg;
    }
    100% {
        --gradient-angle: 360deg;
    }
}
@keyframes gradientShift {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
